.navv {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding-top: 0px;
    align-items: center;



}

.navimg {
    padding-left: 80px;
    padding-right: 20px;
}

.navtitle {
    margin-left: 0px;

    font-family: Work Sans;
    font-size: 45px;

    font-weight: 700;

}

.navoptions {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;

}

.navbtn {
    width: 262px;
    height: 56px;
    border: none;
    border-radius: 8px;
}

.s-h {
    padding-top: 150px;
    padding-left: 200px;
}

.pm {
    color: #534C64;
    align-items: baseline font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    text-transform: lowercase;
    margin-top: 0px;
}

.s-h h3 {
    color: #0B0223;
    margin-bottom: 0px;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.s-one {
    background-image: url(./images/Group\ 14.png);
    display: flex;
    justify-content: space-around;
}

.goat {
    margin: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;


}

.img1 {
    margin: 80px;

    margin-right: 0px;
}

.mbtn {
    display: flex;
    gap: 10px;

}

.pbtn {
    color: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;

}

.bbtn {
    color: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
}

.fcard {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    text-align: left;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.funnyvideo {

    margin-left: 200px;
    padding-right: 200px;
    text-align: center;


}

.ftitle p {
    margin-top: 0px;
    color: #534C64;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.ftitle {

    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

.play {
    display: flex;
    margin: 50px;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 0px;

}

.gctitle {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.gcp {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.card2 {
    position: relative;
    bottom: 300px;
    right: 100px;

}
.hoverbutton{
    padding-top: 10px;
}
.bt {
    background-color: rgb(255, 249, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hbtu {
    margin-top: 100px;
margin-bottom: 100px;
    width: 243px;
    height: 80px;
    border: none;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

}


.hbt1 :hover {
    border: solid #FF42A5;
    color: #F948B2;
}

.footer {
    
    width: 1420px;
    height: 336px;
    background: #0B0223;

}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    align-items: center;

}
/* .foimg {
    
    padding-left: 80px;
    padding-right: 20px;
} */

.fotitle{
    margin-left: 0px;
color: #FFF;
    font-family: Work Sans;
    font-size: 45px;

    font-weight: 700;
}
.footerinfo{
    display: flex;
  
}
.footerlist li{
    display:flex ;
    list-style: none;
    justify-content: space-between;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}